<div class="wrapper">
    <nav>
        <div class="content">
            <div class="left">
                <a class="logo" href="/">BuildWizard</a>

                <a class="link " href="#">All</a>

                <a class="link active" href="#">PC</a>

                <a class="link " href="#" tabindex="-1">Peripherals</a>

            </div>
            <div class="right">

                <span class=" fs-3"><i class="bi bi-person"></i></span>

                <a href="/cart" ><span class="fs-3"><i class="bi bi-cart2"></i></span></a>

                <span class="fs-3"><i class="bi bi-x-lg"></i></span>

            </div>
        </div>
    </nav>
</div>